<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias dolore
    dolorum libero pariatur rem, accusamus eos quae exercitationem aliquam
    omnis?
  </p>

  <div class="media">
    <div class="media__image">
      <svg class="icon icon--primary">
        <use xlink:href="icons/sprite.svg#line"></use>
      </svg>
    </div>
    <div class="media__body">
      <h3 class="media__title quote__author">John Smith</h3>
      <p class="quote__organisation">ABC Company</p>
    </div>
  </div>
</blockquote>
