<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Header</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
      quisquam explicabo sapiente eveniet asperiores modi voluptatibus iure vel,
      fugiat officiis!
    </p>
  </header>
</section>

<section class="block block--dark">
  <div class="container">
    <h2 class="block__heading">Header</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
      quisquam explicabo sapiente eveniet asperiores modi voluptatibus iure vel,
      fugiat officiis!
    </p>
  </div>
</section>
