<section class="block container block__domain">
  <header class="block__header">
    <h2>Starting at $10 per month</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, facilis!
    </p>
    <div class="input-group">
      <input
        type="text"
        placeholder="Enter domain name here..."
        class="input"
      />
      <button class="btn btn--accent">
        <svg class="icon icon--primary">
          <use xlink:href="icons/sprite.svg#search"></use>
        </svg>
        Search
      </button>
    </div>
    <ul class="list block__domain-grid">
      <li class="badge badge--secondary">.com $9</li>
      <li>.sg $9</li>
      <li>.space $9</li>
      <li>.info $9</li>
      <li>.net $9</li>
      <li>.xyz $9</li>
    </ul>
  </header>
</section>
