<div class="card card--secondary card--popular">
  <header class="card__header">
    <h3 class="plan__name">Entry</h3>
    <span class="plan__price">$14</span>
    <span class="plan__billing-cycle">/month</span>
    <span class="badge badge--secondary">10%off</span>
    <img class="popular" src="./images/popular.svg" />
    <p class="plan__description">Easy Start on the cloud</p>
  </header>
  <div class="card__body">
    <ul class="list list--tick">
      <li class="card__list-item">Unlimited Websites</li>
      <li class="card__list-item">Unlimited Bandwidth</li>
      <li class="card__list-item">100 GB SSD Sotrage</li>
      <li class="card__list-item">3 GB RAM</li>
    </ul>
    <a href="#" class="btn btn--block btn--outline">Buy now</a>
  </div>
</div>
